@model RobotReviewSite1._0.Models.Robot
<link href="~/ROBOTDETAILS.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<h2></h2>



<div class="overlay"></div>
<div class="scanline"></div>
<div class="wrapper">
    <div class="content clearfix">

        <header class="site clearfix">
            <div class="col one">
                <img src="~/Content/images/cyberdyne-systems-logo.png" alt="591 Industries" width="740" height="729" id="logo-v" />
            </div>
            <div class="col two">
                <h4>CyberDyne Systems (tm) <br /> <b>H</b>euristically <b>E</b>ncrypted <b>R</b>eal-Time <b>O</b>perating <b>S</b>ystem (HEROS)</h4>
                <p>----------------------------------------</p>
                <p>HEROS v 1.0.0</p>
                <p>(c)2018 CyberDyne Systems</p>
                <p>- CyberDyne -</p>
            </div>
        </header>
        <div class="container">
            <div class="col-md-5 col-lg-5">


                <ul class="">
                    <li class="">
                        @Html.DisplayNameFor(model => model.Category.Function) : @Html.DisplayFor(model => model.Category.Function)

                    </li>
                    <li class="">
                        @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)

                    </li>
                    <li class="">
                        @Html.DisplayNameFor(model => model.FirstAppearsIn) : @Html.DisplayFor(model => model.FirstAppearsIn)

                    </li>
                    <li class="">
                        @Html.DisplayNameFor(model => model.CreatedBy) : @Html.DisplayFor(model => model.CreatedBy)

                    </li>
                    <li class="">
                        @Html.DisplayNameFor(model => model.IsGood) : @Html.DisplayFor(model => model.IsGood)

                    </li>
                    <li class="">
                        @Html.DisplayNameFor(model => model.IsEvil) : @Html.DisplayFor(model => model.IsEvil)

                    </li>

                </ul>
            </div>

        </div>

        <nav class="site clear">
            <ul>
                <li><a alt="" href="@Url.Action("Index", "Home",new { id = Model.RobotID })"> Return Home </a></li>
                <li><a href="https://wecancodeit.org/" title="">Our Clients</a></li>
                <li><a href="https://ndomitio.github.io/" title="">Contact Us</a></li>
            </ul>
        </nav>

        <p>System Administrator Integrated Message System (SAIMS)</p>
        <p>System Administrator (SYSADM) - Nick Domitio</p>

        <p class="clear"><br /></p>

        <p>Welcome to the CyberDyne Reviews Edit page. Press EDIT to change any robot information. The system administrator (SYSADM) will respond to your query after an appropriate amount of quiet contemplation. Thank you for contacting the System Administrator's Office.</p><br />

        <form>
            <a class="button" alt="" href="@Url.Action("Edit", "Robots",new { id = Model.RobotID })"> Edit </a>
            <a class="button" alt="" href="@Url.Action("Index", "Robots",new { id = Model.RobotID })"> Return </a>
        </form>
    </div>
</div>


