@model IEnumerable<RobotReviewSite1._0.Models.Robot>
<link href="~/ROBOTINDEXstylesheet.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
<canvas id="matrix"></canvas>


<div id="holder">
    <div class="column column-0"><div class="letter fade2">9</div><div class="letter fade1">b</div><div class="letter fade0">S</div><div class="letter fade19">f</div><div class="letter fade18">\</div><div class="letter fade17">p</div><div class="letter fade16">|</div><div class="letter fade15"><</div><div class="letter fade14">I</div><div class="letter fade13">\</div><div class="letter fade12">c</div><div class="letter fade11">V</div><div class="letter fade10">D</div><div class="letter fade9">\</div><div class="letter fade8">6</div><div class="letter fade7">n</div><div class="letter fade6">I</div><div class="letter fade5">n</div><div class="letter fade4">h</div><div class="letter fade3">n</div></div>
    <div class="column column-1"><div class="letter fade17">4</div><div class="letter fade16">m</div><div class="letter fade15">7</div><div class="letter fade14">J</div><div class="letter fade13">V</div><div class="letter fade12">s</div><div class="letter fade11">6</div><div class="letter fade10">J</div><div class="letter fade9">x</div><div class="letter fade8">{</div><div class="letter fade7">S</div><div class="letter fade6">[</div><div class="letter fade5">P</div><div class="letter fade4">;</div><div class="letter fade3">9</div><div class="letter fade2">B</div><div class="letter fade1">8</div><div class="letter fade0">F</div><div class="letter fade19">\</div><div class="letter fade18">e</div></div>
    <div class="column column-2"><div class="letter fade1">4</div><div class="letter fade0">z</div><div class="letter fade19">W</div><div class="letter fade18">:</div><div class="letter fade17">i</div><div class="letter fade16">q</div><div class="letter fade15">y</div><div class="letter fade14">S</div><div class="letter fade13">a</div><div class="letter fade12">2</div><div class="letter fade11">W</div><div class="letter fade10">O</div><div class="letter fade9">9</div><div class="letter fade8">r</div><div class="letter fade7">u</div><div class="letter fade6">|</div><div class="letter fade5">x</div><div class="letter fade4">A</div><div class="letter fade3">u</div><div class="letter fade2">u</div></div>
    <div class="column column-3"><div class="letter fade6">R</div><div class="letter fade5">G</div><div class="letter fade4">p</div><div class="letter fade3">\</div><div class="letter fade2">Z</div><div class="letter fade1">x</div><div class="letter fade0">r</div><div class="letter fade19">7</div><div class="letter fade18">_</div><div class="letter fade17">m</div><div class="letter fade16"><</div><div class="letter fade15">Z</div><div class="letter fade14">F</div><div class="letter fade13">G</div><div class="letter fade12">E</div><div class="letter fade11">8</div><div class="letter fade10">A</div><div class="letter fade9">i</div><div class="letter fade8">i</div><div class="letter fade7">C</div></div>
    <div class="column column-4"><div class="letter fade15">:</div><div class="letter fade14">M</div><div class="letter fade13">5</div><div class="letter fade12">1</div><div class="letter fade11">K</div><div class="letter fade10">~</div><div class="letter fade9">B</div><div class="letter fade8">B</div><div class="letter fade7">t</div><div class="letter fade6">w</div><div class="letter fade5">d</div><div class="letter fade4">=</div><div class="letter fade3">h</div><div class="letter fade2">A</div><div class="letter fade1">h</div><div class="letter fade0">b</div><div class="letter fade19">5</div><div class="letter fade18">o</div><div class="letter fade17">B</div><div class="letter fade16">s</div></div>
    <div class="column column-5"><div class="letter fade0">m</div><div class="letter fade19">;</div><div class="letter fade18">D</div><div class="letter fade17">3</div><div class="letter fade16">C</div><div class="letter fade15">U</div><div class="letter fade14">l</div><div class="letter fade13">}</div><div class="letter fade12">i</div><div class="letter fade11">~</div><div class="letter fade10">9</div><div class="letter fade9">7</div><div class="letter fade8">5</div><div class="letter fade7">:</div><div class="letter fade6">R</div><div class="letter fade5">4</div><div class="letter fade4">L</div><div class="letter fade3">d</div><div class="letter fade2">y</div><div class="letter fade1">E</div></div>
    <div class="column column-6"><div class="letter fade13">7</div><div class="letter fade12">}</div><div class="letter fade11">\</div><div class="letter fade10">o</div><div class="letter fade9">`</div><div class="letter fade8">b</div><div class="letter fade7">`</div><div class="letter fade6">s</div><div class="letter fade5">V</div><div class="letter fade4">]</div><div class="letter fade3">a</div><div class="letter fade2">a</div><div class="letter fade1">r</div><div class="letter fade0">e</div><div class="letter fade19">u</div><div class="letter fade18">H</div><div class="letter fade17">S</div><div class="letter fade16">t</div><div class="letter fade15">3</div><div class="letter fade14">S</div></div>
    <div class="column column-7"><div class="letter fade0">:</div><div class="letter fade19">X</div><div class="letter fade18">9</div><div class="letter fade17">]</div><div class="letter fade16">\</div><div class="letter fade15">V</div><div class="letter fade14">C</div><div class="letter fade13">V</div><div class="letter fade12">k</div><div class="letter fade11">^</div><div class="letter fade10">^</div><div class="letter fade9">j</div><div class="letter fade8">;</div><div class="letter fade7">O</div><div class="letter fade6">L</div><div class="letter fade5">m</div><div class="letter fade4">1</div><div class="letter fade3">%</div><div class="letter fade2">E</div><div class="letter fade1">_</div></div>
    <div class="column column-8"><div class="letter fade3">v</div><div class="letter fade2">R</div><div class="letter fade1">X</div><div class="letter fade0">m</div><div class="letter fade19">k</div><div class="letter fade18">{</div><div class="letter fade17">c</div><div class="letter fade16">n</div><div class="letter fade15">O</div><div class="letter fade14">a</div><div class="letter fade13">y</div><div class="letter fade12">w</div><div class="letter fade11">k</div><div class="letter fade10">W</div><div class="letter fade9">U</div><div class="letter fade8">B</div><div class="letter fade7">j</div><div class="letter fade6">|</div><div class="letter fade5">~</div><div class="letter fade4">J</div></div>
    <div class="column column-9"><div class="letter fade8">i</div><div class="letter fade7">U</div><div class="letter fade6">{</div><div class="letter fade5">7</div><div class="letter fade4">D</div><div class="letter fade3">|</div><div class="letter fade2">G</div><div class="letter fade1">Y</div><div class="letter fade0">\</div><div class="letter fade19">;</div><div class="letter fade18">Q</div><div class="letter fade17">~</div><div class="letter fade16">c</div><div class="letter fade15">&</div><div class="letter fade14">j</div><div class="letter fade13">`</div><div class="letter fade12">s</div><div class="letter fade11">Z</div><div class="letter fade10">1</div><div class="letter fade9">V</div></div>
    <div class="column column-10"><div class="letter fade10">y</div><div class="letter fade9">B</div><div class="letter fade8">|</div><div class="letter fade7">O</div><div class="letter fade6">U</div><div class="letter fade5">h</div><div class="letter fade4">L</div><div class="letter fade3">T</div><div class="letter fade2">3</div><div class="letter fade1">x</div><div class="letter fade0">?</div><div class="letter fade19">X</div><div class="letter fade18">t</div><div class="letter fade17">F</div><div class="letter fade16">m</div><div class="letter fade15">q</div><div class="letter fade14">^</div><div class="letter fade13">H</div><div class="letter fade12">O</div><div class="letter fade11">i</div></div>
    <div class="column column-11"><div class="letter fade5">O</div><div class="letter fade4">N</div><div class="letter fade3">z</div><div class="letter fade2">:</div><div class="letter fade1">0</div><div class="letter fade0">n</div><div class="letter fade19">e</div><div class="letter fade18">1</div><div class="letter fade17">E</div><div class="letter fade16">:</div><div class="letter fade15">z</div><div class="letter fade14">X</div><div class="letter fade13">7</div><div class="letter fade12">K</div><div class="letter fade11">}</div><div class="letter fade10">o</div><div class="letter fade9">h</div><div class="letter fade8">S</div><div class="letter fade7">r</div><div class="letter fade6">a</div></div>
    <div class="column column-12"><div class="letter fade6">L</div><div class="letter fade5">W</div><div class="letter fade4">z</div><div class="letter fade3">:</div><div class="letter fade2">J</div><div class="letter fade1">Y</div><div class="letter fade0">S</div><div class="letter fade19">i</div><div class="letter fade18">D</div><div class="letter fade17">></div><div class="letter fade16">9</div><div class="letter fade15">c</div><div class="letter fade14">9</div><div class="letter fade13">D</div><div class="letter fade12">d</div><div class="letter fade11">w</div><div class="letter fade10">y</div><div class="letter fade9">e</div><div class="letter fade8">></div><div class="letter fade7">5</div></div>
    <div class="column column-13"><div class="letter fade7">g</div><div class="letter fade6">=</div><div class="letter fade5">}</div><div class="letter fade4">f</div><div class="letter fade3">}</div><div class="letter fade2">f</div><div class="letter fade1">;</div><div class="letter fade0">q</div><div class="letter fade19">I</div><div class="letter fade18">n</div><div class="letter fade17">></div><div class="letter fade16">p</div><div class="letter fade15">i</div><div class="letter fade14">I</div><div class="letter fade13">;</div><div class="letter fade12">D</div><div class="letter fade11">l</div><div class="letter fade10">t</div><div class="letter fade9">Y</div><div class="letter fade8">z</div></div>
    <div class="column column-14"><div class="letter fade0">></div><div class="letter fade19">5</div><div class="letter fade18">C</div><div class="letter fade17">r</div><div class="letter fade16">}</div><div class="letter fade15">></div><div class="letter fade14">Y</div><div class="letter fade13">=</div><div class="letter fade12">C</div><div class="letter fade11">;</div><div class="letter fade10">t</div><div class="letter fade9">Q</div><div class="letter fade8">:</div><div class="letter fade7">[</div><div class="letter fade6">O</div><div class="letter fade5">p</div><div class="letter fade4">g</div><div class="letter fade3">A</div><div class="letter fade2">:</div><div class="letter fade1">V</div></div>
    <div class="column column-15"><div class="letter fade11">z</div><div class="letter fade10">A</div><div class="letter fade9">i</div><div class="letter fade8">7</div><div class="letter fade7">V</div><div class="letter fade6">W</div><div class="letter fade5">|</div><div class="letter fade4">0</div><div class="letter fade3">S</div><div class="letter fade2">{</div><div class="letter fade1">></div><div class="letter fade0">X</div><div class="letter fade19">?</div><div class="letter fade18">2</div><div class="letter fade17">V</div><div class="letter fade16">N</div><div class="letter fade15">[</div><div class="letter fade14">d</div><div class="letter fade13">b</div><div class="letter fade12">g</div></div>
    <div class="column column-16"><div class="letter fade9">4</div><div class="letter fade8">q</div><div class="letter fade7">6</div><div class="letter fade6">S</div><div class="letter fade5">b</div><div class="letter fade4">m</div><div class="letter fade3">e</div><div class="letter fade2">m</div><div class="letter fade1">E</div><div class="letter fade0">6</div><div class="letter fade19">i</div><div class="letter fade18">V</div><div class="letter fade17">p</div><div class="letter fade16">p</div><div class="letter fade15">|</div><div class="letter fade14">H</div><div class="letter fade13">m</div><div class="letter fade12">}</div><div class="letter fade11">k</div><div class="letter fade10">i</div></div>
    <div class="column column-17"><div class="letter fade16">E</div><div class="letter fade15">y</div><div class="letter fade14">?</div><div class="letter fade13">l</div><div class="letter fade12">H</div><div class="letter fade11">j</div><div class="letter fade10">Q</div><div class="letter fade9">z</div><div class="letter fade8">R</div><div class="letter fade7">{</div><div class="letter fade6">~</div><div class="letter fade5">D</div><div class="letter fade4">2</div><div class="letter fade3">S</div><div class="letter fade2">w</div><div class="letter fade1">p</div><div class="letter fade0">9</div><div class="letter fade19">e</div><div class="letter fade18">6</div><div class="letter fade17">?</div></div>
    <div class="column column-18"><div class="letter fade11">]</div><div class="letter fade10">0</div><div class="letter fade9">A</div><div class="letter fade8">[</div><div class="letter fade7">I</div><div class="letter fade6">0</div><div class="letter fade5">Z</div><div class="letter fade4">6</div><div class="letter fade3">i</div><div class="letter fade2">g</div><div class="letter fade1">K</div><div class="letter fade0">d</div><div class="letter fade19">v</div><div class="letter fade18">9</div><div class="letter fade17">|</div><div class="letter fade16">b</div><div class="letter fade15">[</div><div class="letter fade14">x</div><div class="letter fade13">6</div><div class="letter fade12">W</div></div>
    <div class="column column-19"><div class="letter fade1">K</div><div class="letter fade0">Z</div><div class="letter fade19">L</div><div class="letter fade18">C</div><div class="letter fade17">L</div><div class="letter fade16">U</div><div class="letter fade15">y</div><div class="letter fade14">S</div><div class="letter fade13">e</div><div class="letter fade12">J</div><div class="letter fade11">1</div><div class="letter fade10">f</div><div class="letter fade9">\</div><div class="letter fade8">]</div><div class="letter fade7">0</div><div class="letter fade6">\</div><div class="letter fade5">8</div><div class="letter fade4">6</div><div class="letter fade3">G</div><div class="letter fade2">p</div></div>
    <div class="clip-text">
        Robot <br />Index<br />
        Robot <br />Index<br />
        Robot <br />Index<br />
    </div>

</div>
<a class="btn btn-default" href="@Url.Action("Create", "Robots")"><i class="fas fa-user-plus"></i></a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Function)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstAppearsIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEvil)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Function)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAppearsIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEvil)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RobotID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RobotID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RobotID })
            </td>
        </tr>
    }

</table>
